extends layout

block content

    main

        form.search-form

            label
                span Search
                input(name="keywords", value="#{search.keywords}")

            label
                span From
                input(type="date", name="dateFrom", value="#{search.dateFrom}")

            label
                span to
                input(type="date", name="dateTo", value="#{search.dateTo}")

        p Total paid out: <strong>£#{totalPaidOut}</strong>
        p Total paid in: <strong>£#{totalPaidIn}</strong>

        ul

            li
                span.title Title
                span.paid-in Paid in
                span.paid-out Paid out
                span.date Date
                span.type Type

            each row in statements

                li
                    span.title= row.title
                    span.paid-in= row.paidIn
                    span.paid-out= row.paidOut
                    span.date= row.date
                    span.type= row.type
